#banner
  .banner_content
    %h1 Schuppe
    %p Your life's work. Awesome always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Bacon ipsum dolor amet ball tip sirloin frankfurter pork belly tongue. Meatball tri-tip strip steak pig ball tip andouille rump capicola turducken cupim. Pancetta pork loin swine kielbasa short ribs. Ham tail fatback beef ribs tenderloin venison rump. Ham meatloaf pancetta boudin.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
